@media screen{
    #apTable, #apTable *{
        display:none;
    }
    .printOnly{
        display:none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    .printOnly{
        visibility:visible;
    }
    #apTable, #apTable *{
        visibility:visible;
    }
    .printSection, .printSection * {
        visibility:visible;
    }
    .printRemove, .printRemove *{
        display:none;
    }
    .printHide, .printHide *{
        visibility:hidden;
    }
    .printHide .printSection *{
        visibility:visible;
    }
    .printRemove .printSection *{
        visibility:visible;
    }
    .avoidPageBreak{
        page-break-inside:avoid;
    }
    td div{
        page-break-inside:avoid;
    }
}
