@media screen{
    #printTable, #printTable *{
        display:none;
    }
}
@media print {
    body * {
        visibility: hidden;
    }
    .printSection, .printSection * {
        visibility: visible;
        margin-top:10px;
    }
    .printSection .printRemove, .printSection .printRemove *{
        display:none;
    }
    .printSection .printHide, .printSection .printHide *{
        visibility:hidden;
    }
    .printHide .printSection *{
        visibility: visible;
    }
}
