@media screen {
    .printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility: hidden;
    }
    .printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
    .printSection, .printSection * {
        visibility: visible;
    }
    .printSection .printHide{
        visibility: none;
    }
    .printHide .printShow *{
        visibility: visible;
    }
}
